* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
body {
    font-family: Poppins, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #434343;
    text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 480px) {
    html
    body { 
        font-size: 17px;
	}
}

li {
    text-align: center;
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    text-align: center;
    font-size: 110%;
    margin-bottom: 30px;
    margin-top: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: rgb(238, 18, 18);
    content: " ";
    width: 100px;
    margin: 0 auto;
}

iframe {
    width: 90%;
    height: 350px;
}

.long-copy {
    font-weight: 400;
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.left-copy {
    font-weight: 400;
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: left;
}

section {
    padding: 5% 0%;    
}

.box {
    padding: 1%;
}

/******************************************************************/
/*ARMADO DE GRILLA DE 2 Y 3 COLUMNAS PARA EL SITIO 
  EN MOBILE SE DEBEN APILAR UNAS ABAJO DE LA OTRA DADO QUE CADA UNA
  VA A OCUPAR EL 100% DEL ANCHO DE LA PANTALLA*/
/******************************************************************/

.filas {
    margin: 0 auto;
    zoom: 1;
}

.filas:before,
.filas:after {
    content:"";
    display:table;
}
.filas:after {
    clear:both;
}

.columna {
	display: block;
	float:left;
	margin: 0 auto;
    }

.columna:first-child { margin-left: 0; }

@media only screen and (max-width: 480px) {
	.col { 
        margin: 0;
	}
}

.extender-2-of-2 {
	width: 100%;
}

.extender-1-of-2 {
	width: 49.2%;
}

@media only screen and (max-width: 480px) {
	.extender-2-of-2 {
		width: 100%; 
	}
	.extender-1-of-2 {
		width: 100%; 
	}
}

.extender-3-of-3 {
	width: 100%; 
}

.extender-2-of-3 {
	width: 66.13%; 
}

.extender-1-of-3 {
	width: 32.26%; 
}

@media only screen and (max-width: 480px) {
	.extender-3-of-3 {
		width: 100%; 
	}
	.extender-2-of-3 {
		width: 100%; 
	}
	.extender-1-of-3 {
		width: 100%;
	}
}


/* Agregamos fondo blanco para que acople con el logo
   lo hacemos ocupar el 100% del ancho de la pantalla*/
.topnav {
    background-color: white;
    overflow: hidden;
    width: 100%;
    opacity: 0.9;
  }
  /*Solo en desktop hacemos la barra de navegacion fixed para que siempre este fija en la navegacion*/
  @media screen and (min-width: 481px) {
   .topnav {
     position: fixed;
   }
}
  
  .topnav a {
    display: block;
    color: tomato;
    text-align: center;
    text-decoration: none;
  }
  
  .topnav a.nav-left-opt {
      float: right;
      padding: 4% 3% 0% 0%;
  }

  .topnav a.active {
    float: left;
    font-size: 2em;
    background: url(../imagenes/logo2.jpg) no-repeat;
    text-indent:-9000px;
    padding: 5.3% 20% 0% 0%;
  }
      
  .topnav a:hover {
    color: black;
  }
  
  .topnav .icon {
    display: none;
  } 

  /*Para mobile dejamos solo visible el logo del link al home y el menu hambergesa*/
    @media screen and (max-width: 480px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      margin: 6% 1%;
      padding: 6% 10%;
      float: right;
      display: block;
    }

    .topnav a.active {
      padding: 9.5% 35%;
    }
    
  }
  
  /*la clase responsive es agregada por un script de javascript q genera ver los links apilados a la izquierda*/
  @media screen and (max-width: 480px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .topnav.responsive a.active {
      padding: 10% 10%
    }
  }

/*------------------------------*/
/* Configuracion Seccion        */
/* Comenza tu viaje             */
/*------------------------------*/
#fullcontainerhome {
    background-image: url(../imagenes/toriiprincipal.jpg);
    background-size: cover;
    padding-top: 500px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 480px) {
    #fullcontainerhome {
        background-image: url(../imagenes/toriiprincipalmobile.jpg);
        padding-top: 200px;
    }
  }

#downloadguidebox {
    display: flex;
    background-color: rgba(230, 28, 28, 0.637);
}

.buttondownload {
    margin-top: 50px;
    display: inline-block;
    background-color: white;
    font-size: 100%;
    font-weight: 500;
    padding: 20px 60px;
    border-radius: 10px;
}

.buttondownload a {
    color: black;
    font-size: 90%;
    padding: 20px 20px;
}

.buttondownload:hover
{
    background-color: tomato;
}

.buttondownload:hover a
{
    color: white;
}

/*----------------------------*/
/* Configuracion Seccion      */
/* Seccion comienza tu viaje  */
/*----------------------------*/
#section-tulugar {
    text-align: center;
    font-size: 85%;
}
/*-----------------------------*/
/* Configuracion Seccion       */
/* Footer de la pagina         */
/*-----------------------------*/

footer {
    font-size: 85%;
    background: url(../imagenes/backgroundfooter.jpg) no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: black;
}

footer h2:after{
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 480px) {
    .footer-desktop {
        display: none;
    }
  }
@media screen and (min-width: 481px) {
    .footer-mobile {
        display: none;
    }
}
#redes {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    column-count: 4;
    padding-top: 25px;
    padding-bottom: 25px;
}
#redes li a{
    display: inline-block;
    background: url(../imagenes/sprite.png);
	width:54px;
	height:54px;
	text-indent:-9000px;
	
}

#redes li a:hover{
    background: url(../imagenes/spritehover.png);

}
#redes li:nth-child(1) a{
	background-position: 0px -54px;
	
}
#redes li:nth-child(2) a{
	background-position:-54px -54px;
}
#redes li:nth-child(3) a{
	background-position: -107px -54px;
	
}
#redes li:nth-child(4) a{
	background-position: -162px -54px;
	
}
/*-----------------------------*/
/* Configuracion Seccion  Form */
/* Formulario de contacto      */
/*-----------------------------*/
#fullcontainercontact {
    background-color: rgb(150, 60, 60);
    padding-top: 10%;
    color: white;
    text-align: center;
}
#contact-form {
    width: 90%;
    margin: 5% auto;
    padding: 3% 3%;
    text-align: left;
    background-color: #f7f4ed;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.form-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    padding: .6em 1.4em .5em .8em;
    width: 50%;
    height: 45px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 30px 0px 0px 0px;
    border: none;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: tomato;
}

.input-css {
    display: block;
    font-size: 17px;
    font-weight: 650;
    color: #444;
    padding: .6em 1.4em .5em .8em;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

.field-form {
    margin-bottom: 20px;
}

/*-----------------------------*/
/* Configuracion Seccion  info */
/*-----------------------------*/
#fullcontainerinfo {
    background-color: tomato;
    padding-top: 10%;
    color: white;
    text-align: center;
}

#section-informacion {
    text-align: center;
    font-size: 85%;
}

/*-----------------------------*/
/* Configuracion Seccion activi*/
/*-----------------------------*/
#fullcontaineractiv {
    background-color: rgb(216, 59, 59);
    padding-top: 10%;
    color: white;
    text-align: center;
}

#section-actividades {
    text-align: center;
}

/*-----------------------------------*/
/* Configuracion seccion gracias     */
/*-----------------------------------*/
#section-gracias {
    padding-top: 15%;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url(../imagenes/gracias-desktop.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url(../imagenes/gracias-desktop.jpg);
    background-size: cover;
    background-color: rgba(75, 61, 61, 0.637);
    color: whitesmoke;
}
@media screen and (max-width: 480px) {
    #section-gracias {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url(../imagenes/gracias-mobile.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url(../imagenes/gracias-mobile.jpg);
    }
  }